// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

.main-welcome {
    margin: 10px;
    display: flex;
}
.edit-form {
    flex: 1;
}
.welcome-75-div {
    flex: 75%;
    order: 2;
}
.welcome-25-div {
    flex: 25%;
    order: 1;
}
.centered-h1 {
    text-align: center;
}

@media (max-width: 768px) {
    .main-welcome {
        flex-direction: column;
    }
    .welcome-75-div,
    .welcome-25-div {
        flex: 100%;
    }
}
